#header {
	grid-area: header;
	background-image: var(--header-bg-l);
	background-position: top center;
}

@media (min-width: 1600px) {
	#header {
		background-image: var(--header-bg-f);
	}
}

@media (min-width: 1200px) and (max-width: 1599px) {
	#header {
		background-image: var(--header-bg-h);
	}
}

@media (min-width: 640px) and (max-width: 1199px) {
	#header {
		background-image: var(--header-bg-l);
	}
}

@media (max-width: 639px) {
	#header {
		background-image: var(--header-bg-m);
	}
}